<h1>My Bulk Discounts</h1>
<br>
<section class="discount-options">
  <%= link_to "Create Discount", "/merchant/discounts/new" %>
</section>

<section class="all-discounts">
  <h2>All Discount Details</h2>
  <% @merchant.discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      <h4><%= link_to "#{discount.name}", "/merchant/discounts/#{discount.id}" %></h4>
      <p>Discount Percentage: <%= discount.percentage %><br>
      Minimum Purchase for Discount: <%= discount.min_purchase %></p>
      <%= button_to "Edit", "/merchant/discounts/#{discount.id}/edit", method: :get %>
      <% if discount.active? %>
        <%= "Discount Active" %>
      <% else %>
        <%= "Discount Inactive" %>
      <% end %>
    </section>
  <% end %>
</section>
