<h1>My Bulk Discounts</h1>
<br>
<section class="discount-options">
  <%= link_to "Create Discount", "/merchant/discounts/new" %>
</section>

<section class="all-discounts">
  <h2>All Discount Details</h2>
  <% @merchant.discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      <h4><%= discount.name %></h4>
      <p>Discount Percentage: <%= discount.percentage %><br>
      Minimum Purchase for Discount: <%= discount.min_purchase %></p>
      <%= button_to "Edit", "/merchant/discounts/#{discount.id}/edit", method: :get %>
      <%= button_to "Delete", "/merchant/discounts/#{discount.id}", method: :delete %>
      <% if discount.active? %>
        <p>Discount Active
          <%= link_to 'Deactivate', "/merchant/discounts/#{discount.id}?status=deactivate", method: :patch %>
        </p>
      <% else %>
        <p>Discount Inactive
          <%= link_to 'Activate', "/merchant/discounts/#{discount.id}?status=activate", method: :patch %>
        </p>
      <% end %>
    </section>
  <% end %>
</section>
